body {
  padding-top: 20px;
  padding-bottom: 20px;
}
 
button {
  border: none;
  background-color: paleturquoise;
  color: white;
  padding: 10px 25px;
 
}

.header,
.marketing{
  margin-top: -20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase; 
  height: 100px;
}
.header {
  margin-top: -20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase; 
  height: 100px;
}

.header h2 {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 40px;
  font-size: 40px;
}

#conteudo {
  background-color: #5bcbdf;
  padding: 50px;
  margin-top: -30px;
  height: 100%;
}

.pesquisa {
  background-color: #a3877f;
  padding: 20px;
  margin: 0 auto;
}

.pesquisa input{
  padding: 23px;
}

.btn-secondary {
 margin:0 30px;
}

#mostra {
  margin-left: 270px;
}
#esconde {
  margin-left: 270px;
}  
img {
  width: 30px;
  height: 30px;
}


@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


.marketing {
  margin: 40px 0;
  display: none;
}
.marketing p + h4 {
  margin-top: 28px;
}

#total {
  text-align: center;
  margin:-50px auto;
  font-size: 50px;
}
#clear{
  display: none;
  float: right;
  margin-right: 40px;
  margin-top:-20px;
}

#esconde {
  display: none;
}

@media screen and (max-width: 830px){

  .header {
    height: 90px;
  }

  img#placa.png {
    display: none;
  }

  .header h2 {    
    font-size: 30px;
    margin: 0px;
  }

}